<div class="car">
    <div class="car-panel">
        <button class="car-panel__delete" (click)='onDelete()'>
            <i class="fa fa-trash"></i>
        </button>
        <button class="car-panel__edit" (click)='onEdit()'>
            <i class="fa fa-pencil"></i>
        </button>
    </div>
    <div class="car-content" (click)='onShowDetail()'>
        <div class="car-image">
            <img src="{{car.image_path}}" alt="{{car.car}}">
        </div>
        <div class="car-info">
            <h3>{{car.car}} {{car.model}} {{car.year}}</h3>
            <div class="price">price:
                <span>{{car.price}} $</span>
            </div>
            <ul>
                <li>
                    <span>Created:</span> {{carCreated.day}}.{{carCreated.date}}.{{carCreated.year}} {{carCreated.hours}}:{{carCreated.minutes}}:{{carCreated.seconds}}</li>
                <li>
                    <span>Model:</span> {{car.model}}</li>
                <li>
                    <span>Year:</span> {{car.year}}</li>
                <li>
                    <span>Engine Capacity:</span> {{car.engine_capacity}}</li>
                <li>
                    {{car.description}}</li>
            </ul>
        </div>
    </div>
</div>
