.car
    display: flex
    align-items: center
    .car-panel
        margin-right: 30px
        button
            border: none
            font-size: 2rem
            height: 50px
            width: 50px
            transition: .3s all
            &:hover
                transform: scale(.96)
        &__delete
            background-color: red
        &__edit
            background-color: orange
    .car-content
        display: flex
        border: 1px solid #000
        padding: 10px
        cursor: pointer
        transition: .3s all
        width: 100%

        &:hover
            transform: scale(.98)
    .car-image
        width: 30%
        padding-right: 30px
        img
            width: 100%
    .car-info
        h3
            padding-bottom: 20px
            text-transform: uppercase
        .price
            font-weight: 700
            text-transform: uppercase
            font-size: 5rem
            span
                color: green
        ul
            font-size: 1.8rem
            li
                span
                    font-weight: 700
                    text-transform: uppercase
