/* You can add global styles to this file, and also import other style files */
html
    font-size: 62.5%
    font-family: Arial, Helvetica, sans-serif

body
    margin: 0
    padding: 0
    font-family: sans-serif
    font-family: 'Teko', sans-serif
    padding-top: 60px
    width: 100%
    height: 100%
    background: #3a6186
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186, #89253e)
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a6186, #89253e)
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff

a
    color: #000000
    outline: none
    text-decoration: none

ul
    list-style: none
    margin: 0
    padding: 0

.mark
    color: brown

.input-field
    .alert
        font-size: 1.5rem
        font-weight: 700
        padding-top: 10px
        color: red
    label
        display: block
        padding-bottom: 3px
        font-size: 1.6rem
        font-weight: 700

    input:not(#image), select
        width: 100%
        border: none
        height: 40px
        border: 1px solid #bbb
        font-size: 1.4rem
        padding-left: 10px
        padding-right: 10px
        outline: none
        &:active
            outline: none
    textarea
        resize: none
        border: 1px solid #bbb
        width: 100%
        height: 200px
        padding: 10px

button
    cursor: pointer
h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0
h2
    font-size: 2.6rem
h3
    font-size: 3rem

.loading
    text-align: center
    // display: none
