.car
    display: flex
    align-items: center
    .car-panel
        margin-right: 30px
        button
            border: none
            font-size: 2rem
            height: 50px
            width: 50px
            transition: .3s all
            &:hover
                transform: scale(.96)
        &__delete
            background-color: red
        &__edit
            background-color: orange
    .car-content
        padding: 10px
        width: 100%
        justify-content: space-between
    .car-image
        width: 100%
        text-align: center
        padding-right: 30px
        img
            height: 300px
            // width: 100%
    .car-info
        h3
            padding-bottom: 30px
            text-transform: uppercase
        .price
            font-weight: 700
            text-transform: uppercase
            font-size: 5rem
            span
                color: green
        ul
            font-size: 1.8rem
            li
                span
                    font-weight: 700
                    text-transform: uppercase
