<div class="edit-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="search-form">
                    <h1>Edit form</h1>
                    <form action="" (ngSubmit)='onSubmit()' #f='ngForm'>
                        <div class="input-field">
                            <label for="car">Car:</label>
                            <select name="car" id="" [(ngModel)]="selectedCar" (change)='onChange()' ngModel required>
                                <option value="{{car.value}}" *ngFor='let car of cars'>
                                    {{car.name}}
                                </option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="model">Model:</label>
                            <select name="model" id="" [(ngModel)]="selectedModel" ngModel required>
                                <option value="{{model}}" *ngFor='let model of models'>
                                    {{model}}
                                </option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="color">Color:</label>
                            <select name="color" id="" [(ngModel)]="selectedColor" ngModel required>
                                <option value="{{color}}" *ngFor='let color of colors'>
                                    {{color}}
                                </option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="engine_capacity">Engine capacity:</label>
                            <input type="number" id="engine_capacity" name="engine_capacity" pattern=".{3,4}" ngModel required #engine='ngModel'>
                            <div [hidden]="engine.valid || engine.untouched" class="alert">3-4 numbers only</div>
                        </div>
                        <div class="input-field">
                            <label for="year">Year:</label>
                            <select name="year" id="" [(ngModel)]="selectedYear" ngModel required>
                                <option value="{{year}}" *ngFor='let year of years'>
                                    {{year}}
                                </option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="price">Price $:</label>
                            <input type="number" id="price" ngModel name="price" ngModel required #price='ngModel'>
                            <div [hidden]="price.valid || price.untouched" class="alert">Numbers only</div>
                        </div>
                        <div class="input-field">
                            <label for="image">Image URL:</label>
                            <input type="text" id="image" ngModel name="image" ngModel required>
                        </div>
                        <div class="input-field">
                            <label for="description">Description:</label>
                            <textarea type="file" id="description" ngModel name="description" ngModel required></textarea>
                        </div>
                        <button [disabled]='f.invalid' type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
