<div class="search">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="search-form">
                    <h1>Search form</h1>
                    <form action="" (ngSubmit)='onSubmit()' #f='ngForm'>
                        <div class="input-field">
                            <label for="">Car:</label>
                            <select name="car" id="" [(ngModel)]="selectedCar" (change)='onChange()'>
                                <option value="all">
                                    All
                                </option>
                                <option value="{{car.value}}" *ngFor='let car of cars'>
                                    {{car.name}}
                                </option>
                            </select>
                        </div>
                        <div class="input-field" *ngIf='selectedCar && selectedCar != "all"'>
                            <label for="">Model:</label>
                            <select name="model" id="" [(ngModel)]="selectedModel">
                                <option value="all" selected>
                                    All
                                </option>
                                <option value="{{model}}" *ngFor='let model of models'>
                                    {{model}}
                                </option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="">Color:</label>
                            <select name="color" id="" [(ngModel)]="selectedColor">
                                <option value="all" selected>
                                    All
                                </option>
                                <option value="{{color}}" *ngFor='let color of colors'>
                                    {{color}}
                                </option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="">Year:</label>
                            <select name="year" id="" [(ngModel)]="selectedYear">
                                <option value="all" selected>
                                    All
                                </option>
                                <option value="{{year}}" *ngFor='let year of years'>
                                    {{year}}
                                </option>
                            </select>
                        </div>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
