<div class="loading" id="loading-cars-list"></div>
<!-- <loading id="loading-cars-list"></loading> -->
<div class="cars-list" *ngIf='cars.length; else info'>
    <div class="sort">
        <div class="input-field">
            <select name="" id="" ngModel [(ngModel)]='sort' (change)='onChange()'>
                <option value="new">New</option>
                <option value="etoc">
                    Expensive to cheap</option>
                <option value="ctoe">
                    Cheap to Expensive
                </option>
            </select>
        </div>
    </div>
    <div *ngFor='let car of cars'>
        <div class="car-item" [car]='car'></div>
    </div>
</div>
<ng-template #info>
    <h2>Sorry! No such cars!</h2>
    <a class="info__link" routerLink='../search'>Search again
        <i class="fa fa-search"></i>
    </a>
</ng-template>
