<div class="cars">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <app-cars-list></app-cars-list>
            </div>
        </div>
    </div>
</div>
