<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="" class="logo__link">
                        <i class="fa fa-globe"></i>
                        Cars<span class="mark">World</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <nav>
                    <ul class="nav">
                        <li class="nav__item">
                            <a routerLink='search' routerLinkActive='active' class="nav__link">Search</a>
                        </li>
                        <li class="nav__item">
                            <a routerLink='add' routerLinkActive='active' class="nav__link">Add Car</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
