.header
    padding-top: 20px
    padding-bottom: 20px
    background-color: rgba(255,255,255,.8)
    .row
        align-items: center
    .logo
        &__link
            font-size: 3rem
            font-weight: 700
            i
                color: blue
    .nav
        display: flex
        font-size: 1.5rem
        font-weight: 700
        text-transform: uppercase
        &__item
            padding-right: 20px
            &:last-child
                padding-right: 0
        &__link
            &.active
                color: blue
